div
{
    width: 1100px;
    height: 1200px;
    position: relative;
    left: 100px;
}

.t1
{
    position: relative;
    left: 250px;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.tr1
{
    background-color: black;
    color: white;
}

th
{
    padding-right: 150px;
}
.f2
{
    height: 200px;
    width: 250px;
}
.f1
{
    height: 200px;
    width: 250px;
    position: relative;
    left: 800px;
}
 span
 {
     color: red;
 }